body {
  padding: 0;
  margin: 0;
  font-family: "futura-pt", sans-serif;
}

* {
  box-sizing: border-box;
}

.portfolio-container {
  min-height: 30vh;
  flex: 0 1 auto;
  flex-direction: column;
}

.portfolio-container,
.portfolio-container main {
  display: flex;
  justify-content: center;
}

.portfolio-container main {
  flex: 1 0 auto;
  flex-direction: column;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
}

.portfolio-container main .intro-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #024040;
  min-height: 20vh;
}

.portfolio-container main .intro-wrapper > .intro-name {
  font-size: 6rem;
  font-weight: 700;
  line-height: 4rem;
  padding-bottom: 1rem;
}

.portfolio-container .landing-page main .intro-wrapper > .tagline {
  margin: 1.5rem 0;
  font-weight: 300;
}
.tagline {
  font-size: 2rem;
}

.nav-header {
  background-color: #00baba;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
}

nav .menu {
  margin-right: 2rem;
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  color: white;
}

nav .menu a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding: 10px;
}

nav .menu__item {
  padding: 0.25rem 0;
  font-size: 2.25rem;
  font-weight: 400;
  border-bottom: 2px solid transparent;
}

.menu-item {
  font-size: 12px;
}

.about-page {
  min-height: 20vh;
  padding: 5px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #024040;
}

.about-page h1 {
  font-size: 4rem;
  color: #eaeaea;
}

.about-page .about-wrapper .about-content {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.about-page .about-wrapper {
  padding: 30px;
}

.about-page .about-wrapper .about-content p {
  color: #eaeaea;
  font-size: 20px;
}

.portfolio-page {
  min-height: 20vh;
  padding: 35px;
  background-color: #00baba;
  width: 100%;
}

.portfolio-page h1 {
  font-size: 4rem;
  color: #eaeaea;
  padding: 5px;
}

.portfolio-item {
  background: #047c7c;
  height: 300px;
  max-width: 900px;
  margin: 0 auto;
  transition: 0.5s;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 0.8em 1em -0.4em #013535;
  transform: translateY(-0.8em);
}
.portfolio-item img {
  height: 100%;
  display: block;
  float: right;
}
.portfolio-item h1 {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.portfolio-item p {
  padding: 1.5rem;
  color: #eaeaea;
  font-size: 20px;
  line-height: 40px;
}

.portfolio-item .overlay {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.portfolio-page a:hover {
  text-decoration: none;
  box-shadow: 5px 10px;
}

.contact-page {
  padding-top: 2rem;
  min-height: 20vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #024040;
}
.contact-wrapper {
  padding: 40px;
}
.contact-page h1 {
  font-size: 4rem;
  color: #eaeaea;
}

.contact-page p {
  color: #eaeaea;
}

.social-icons svg {
  margin-right: 1.85rem;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

#text-align {
  text-align: center;
}

.skyline-img:nth-child(2) {
  margin-left: 10px;
}
@media (min-width: 320px) {
  html {
    font-size: 10px;
  }

  /* .portfolio-item p {
    display: none;
  }

  .portfolio-item img {
    display: none;
  } */

  .about-page .about-wrapper .about-content p {
    line-height: 30px;
    font-size: 20px;
  }
  .portfolio-item h1 {
    padding-top: 100px;
  }

  .contact-page p {
    font-size: 20px;
  }
  .social-icons svg {
    font-size: 3rem;
  }
}

@media (min-width: 375px) {
}

@media (max-width: 414px) {
  .portfolio-page .portfolio-item h1 {
    font-size: 15px;
  }

  .portfolio-page .portfolio-item p {
    font-size: 10px;
    line-height: 25px;
  }
}

@media (max-width: 426px) {
  .portfolio-item h1 {
    font-size: 20px;
  }

  .portfolio-page .portfolio-item p {
    font-size: 10px;
    line-height: 25px;
  }
}

@media (max-width: 451px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 4rem;
  }
}
@media (max-width: 495px) {
  .portfolio-page .portfolio-item h1 {
    font-size: 23px;
  }

  .portfolio-page .portfolio-item p {
    font-size: 15px;
    line-height: 25px;
  }
}

@media (max-width: 533px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 5rem;
  }
}

@media (max-width: 647px) {
  .portfolio-item img:nth-child(1) {
    display: none;
  }
  .portfolio-page .portfolio-item h1 {
    font-size: 25px;
  }

  .portfolio-page .portfolio-item p {
    padding: 30px 15px;
  }
}

@media (max-width: 730px) {
  .portfolio-item p {
    margin-top: -62px;
    line-height: 30px;
    font-size: 17px;
  }
  .portfolio-item h1 {
    text-align: left;
    padding: 20px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .portfolio-item p {
    margin-top: -62px;
    line-height: 30px;
  }
  .portfolio-item h1 {
    text-align: left;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .portfolio-item p {
    margin-top: -62px;
    line-height: 30px;
  }
  .portfolio-item h1 {
    text-align: left;
    padding: 20px;
  }
}

@media (min-width: 1057px) {
  .about-page {
    top: 450px;
  }
}
@media (min-width: 1440px) {
  .portfolio-item p {
    display: block;
  }
}
