body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.portfolio-container {
  min-height: 30vh;
  flex: 0 1 auto;
  flex-direction: column;
  /* overflow-y: scroll;
  scroll-behavior: smooth; */
}

.portfolio-container,
.portfolio-container main {
  display: flex;
  justify-content: center;
}

.portfolio-container main {
  flex: 1 0 auto;
  flex-direction: column;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
}

.portfolio-container main .intro-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #024040;
  min-height: 20vh;
}

.portfolio-container main .intro-wrapper > .intro-name {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.portfolio-container .landing-page main .intro-wrapper > .tagline {
  margin: 1.5rem 0;
  font-weight: 300;
}
.tagline {
  font-size: 17px;
}

.about-page {
  min-height: 20vh;
  padding: 5px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #024040;
}

.about-page h1 {
  font-size: 35px;
  color: #eaeaea;
}

.about-page .about-wrapper .about-content {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.about-page .about-wrapper {
  padding: 30px;
}

.about-page .about-wrapper .about-content p {
  color: #eaeaea;
  font-size: 18px;
}

.portfolio-page {
  min-height: 20vh;
  padding: 35px;
  background-color: #00baba;
  width: 100%;
}

.portfolio-page h1 {
  font-size: 35px;
  color: #eaeaea;
  padding: 5px;
}

.portfolio-item {
  background: #047c7c;
  height: 250px;
  max-width: 900px;
  margin: 0 auto;
  transition: 0.5s;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 0.8em 1em -0.4em #013535;
  transform: translateY(-0.8em);
}
.portfolio-item img {
  height: 66%;
  margin-left: 40px;
}
.portfolio-item h1 {
  font-size: 20px;
  text-align: center;
}

.portfolio-item p {
  color: #eaeaea;
  display: none;
}

.portfolio-item .overlay {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.portfolio-page a:hover {
  text-decoration: none;
}

.portfolio-page a {
  padding: 10px;
}

.contact-page {
  padding-top: 2rem;
  min-height: 20vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #024040;
}
.contact-wrapper {
  padding: 30px;
}

.contact-page .contact-wrapper {
  margin: 0 10px;
}
.contact-page h1 {
  font-size: 35px;
  color: #eaeaea;
}

.contact-page p {
  color: #eaeaea;
}

.social-icons svg {
  margin-right: 1.85rem;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

#text-align {
  text-align: center;
}

.main-buzz {
  padding-bottom: 20px;
  padding-left: 10px;
}

@media (min-width: 347px) {
  .portfolio-item img {
    height: 66%;
    margin-left: 50px;
  }
}

@media (min-width: 375px) {
  .portfolio-item img {
    margin-left: 65px;
  }
}

@media (min-width: 425px) {
  .portfolio-item img {
    height: 70%;
    margin-left: 70px;
  }
}

@media (min-width: 475px) {
  .portfolio-item img {
    height: 70%;
    margin-left: 100px;
  }
}

@media (min-width: 500px) {
  .portfolio-item img {
    height: 75%;
    margin-left: 120px;
  }
}

@media (min-width: 560px) {
  .portfolio-item {
    display: flex;
  }

  .portfolio-item img {
    margin-left: 0px;
  }

  .portfolio-item p {
    display: block;
    font-size: 15px;
    line-height: 30px;
  }

  .portfolio-description {
    padding: 8px;
  }

  .portfolio-description h1 {
    text-align: left;
  }
}

@media (min-width: 734px) {
  .quotes {
    padding-left: 150px;
  }
}

@media (min-width: 768px) {
  .portfolio-item h1 {
    font-size: 25px;
  }
  .portfolio-item img {
    height: 100%;
  }

  .main-buzz {
    padding-bottom: 0px;
  }
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 40px;
  }
}

@media (min-width: 945px) {
  .quotes {
    padding-left: 200px;
  }
  .portfolio-description {
    padding-right: 0px;
  }

  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 50px;
  }
}
