body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", sans-serif;
}

* {
  box-sizing: border-box;
}

.portfolio-container {
  min-height: 30vh;
  flex: 0 1 auto;
  flex-direction: column;
}

.portfolio-container,
.portfolio-container main {
  display: flex;
  justify-content: center;
}

.portfolio-container main {
  flex: 1 0 auto;
  flex-direction: column;
  padding: 3.25rem 1.5rem 1rem;
  text-align: center;
}

.portfolio-container main .intro-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #024040;
  min-height: 20vh;
}

.portfolio-container main .intro-wrapper > .intro-name {
  font-size: 60px;
  font-weight: 700;
  line-height: 4rem;
  padding-bottom: 1rem;
}

.portfolio-container .landing-page main .intro-wrapper > .tagline {
  margin: 1.5rem 0;
  font-weight: 300;
}
.tagline {
  font-size: 1.5rem;
}

.about-page {
  min-height: 20vh;
  padding: 5px;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #024040;
}

.about-page h1 {
  font-size: 3rem;
  color: #eaeaea;
}

.about-page .about-wrapper .about-content {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.about-page .about-wrapper {
  padding: 30px;
  margin: 0 auto;
}

.about-page .about-wrapper .about-content p {
  color: #eaeaea;
  font-size: 20px;
}

.portfolio-page {
  min-height: 20vh;
  padding: 35px;
  background-color: #00baba;
  width: 100%;
}

.portfolio-page h1 {
  font-size: 3rem;
  color: #eaeaea;
  padding: 5px;
}

.portfolio-item {
  background: #047c7c;
  height: 300px;
  max-width: 900px;
  margin: 0 auto;
  transition: 0.5s;
  display: flex;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 0.8em 1em -0.4em #013535;
  transform: translateY(-0.8em);
}
.portfolio-item img {
  height: 100%;
}
.portfolio-item h1 {
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

.portfolio-item p {
  padding: 1.5rem;
  color: #eaeaea;
  font-size: 20px;
  line-height: 40px;
}

.portfolio-item .overlay {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.portfolio-page a:hover {
  text-decoration: none;
}

.portfolio-page a {
  padding: 10px;
}

.contact-page {
  padding-top: 2rem;
  min-height: 20vh;
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  justify-content: center;
  background-color: #024040;
}
.contact-wrapper {
  padding: 30px;
}

.contact-page .contact-wrapper {
  margin: 0 10px;
}
.contact-page h1 {
  font-size: 3rem;
  color: #eaeaea;
}

.contact-page p {
  color: #eaeaea;
}

.social-icons svg {
  margin-right: 1.85rem;
}

a {
  text-decoration: none;
  color: #eaeaea;
}

#text-align {
  text-align: center;
}

.skyline-img {
  margin-left: 10px;
}
@media (min-width: 320px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 35px;
    line-height: 2.5rem;
  }

  .tagline {
    font-size: 1rem;
  }
}
@media (max-width: 320px) {
  .about-page .about-wrapper .about-content p {
    line-height: 30px;
    font-size: 20px;
  }
  .portfolio-item h1 {
    padding-top: 100px;
  }

  .contact-page p {
    font-size: 20px;
  }
  .social-icons svg {
    font-size: 3rem;
  }
}

@media (min-width: 414px) {
  .tagline {
    font-size: 1.2rem;
  }
}

@media (max-width: 414px) {
  .portfolio-page .portfolio-item h1 {
    font-size: 1rem;
  }

  .portfolio-page .portfolio-item p {
    font-size: 10px;
    line-height: 25px;
  }
}

@media (max-width: 426px) {
  .portfolio-item h1 {
    font-size: 20px;
  }

  .portfolio-page .portfolio-item p {
    font-size: 10px;
    line-height: 25px;
  }
}

@media (min-width: 451px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 37px;
    line-height: 2.5rem;
  }
}

@media (max-width: 451px) {
  .portfolio-page .portfolio-item p {
    display: none;
  }
}

@media (min-width: 495px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 40px;
    line-height: 2.5rem;
  }
}
@media (max-width: 495px) {
  .portfolio-page .portfolio-item h1 {
    font-size: 23px;
  }

  .portfolio-page .portfolio-item p {
    font-size: 15px;
    line-height: 25px;
  }
}

@media (min-width: 596px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 50px;
    line-height: 2.5rem;
  }
}

@media (max-width: 596px) {
  .portfolio-description {
    position: absolute;
  }
  .portfolio-item {
    display: flex;
    justify-content: center;
  }
  .portfolio-page .portfolio-item h1 {
    font-size: 25px;
    text-align: center;
  }
  .portfolio-page .portfolio-item p {
    display: none;
  }
  .portfolio-item img {
    margin-top: 88px;
    margin-left: 4px;
    height: 66%;
  }
}

@media (min-width: 647px) {
  .portfolio-container main .intro-wrapper > .intro-name {
    font-size: 55px;
    line-height: 2.5rem;
  }
}

@media (max-width: 647px) {
  .portfolio-page .portfolio-item h1 {
    font-size: 25px;
  }
  .portfolio-page .portfolio-item p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 660px) {
  .portfolio-page .portfolio-item h1 {
    font-size: 25px;
  }

  .portfolio-page .portfolio-item p {
    font-size: 15px;
  }
}

@media (max-width: 730px) {
  .portfolio-item p {
    margin-top: -62px;
    line-height: 30px;
    font-size: 17px;
  }
  .portfolio-item h1 {
    text-align: left;
    padding: 20px;
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .portfolio-item p {
    margin-top: -48px;
    line-height: 25px;
    font-size: 17px;
  }
  .portfolio-item h1 {
    text-align: left;
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .portfolio-item p {
    margin-top: -48px;
    line-height: 30px;
  }
  .portfolio-item h1 {
    text-align: left;
    padding: 20px;
  }
}

@media (min-width: 1440px) {
  .portfolio-item p {
    display: block;
  }
}
