.nav-header {
  background-color: #00baba;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex-direction: row;
}

.nav-header .menu-item {
  font-size: 12px;
}
