.second-item main .intro-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.second-item {
  min-height: 500vh;
}

.center-paragraph {
  max-width: 800px;
  margin: 0 auto;
}

.second-item {
  min-height: 20vh;
  flex: 0 1 auto;
  flex-direction: column;
}

.second-item,
.second-item main {
  display: flex;
  justify-content: center;
}

.second-item main {
  flex: 1 0 auto;
  flex-direction: column;
  padding: 3.25rem 1.5rem 1rem;
}

.second-item main .intro-wrapper {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-item main .intro-wrapper > .intro-name {
  font-family: Reem Kufi, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 4rem;
  padding-bottom: 1rem;
  color: #024040;
}

.second-item.landing-page main .intro-wrapper > .tagline {
  font-size: 1.375rem;
  margin: 1.5rem 0;
  font-weight: 300;
}

.screens img {
  width: 300px;
  padding: 20px;
}
.screens {
  padding-left: 5px;
}

.social-icons {
  padding: 0.85rem 0;
  font-size: 2rem;
}
@media (min-width: 320px) {
  .screens img {
    margin-left: -20px;
  }
}

@media (min-width: 425px) {
  .screens img {
    margin-left: 0px;
  }
}
