body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 40px;
  margin: 0;
}

#header {
  text-align: center;
  background-color: teal;
  background-image: linear-gradient(to left, #00baba, #008b8b);
  color: white;
}

#header .container p {
  color: white;
}

#description h2 {
  color: #008b8b;
  text-align: center;
  font-weight: lighter;
}

.word-spacing {
  word-spacing: 20px;
}
