#footer {
  margin: auto;
  border: 0;
  background-color: black;
  padding: 40px;
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.personal-info {
  display: flex;
}
a {
  padding: 20px;
}

img {
  width: 60px;
  height: 60px;
}
