#footer {
  margin: auto;
  border: 0;
  background-color: black;
  padding: 40px;
  text-align: center;
}

.container-fluid {
  width: 100%;
}


a {
  padding: 20px;
}

img {
  width: 60px;
  height: 60px;
  
}


@media only screen and (min-width: 768px) {
  .personal-info {
    margin-left: 200px;
  }
}

@media only screen and (min-width: 992px) {
  .personal-info{
    margin-left: 200px;
  }
}

@media only screen and (min-width: 1024px) {
  .personal-info{
    margin-left: 350px;
  }
}

@media only screen and (min-width: 1440px) {
  .personal-info{
    margin-left: 550px;
  }
}